<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>게시물 작성</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">

        <div class="contents">

            <div class="">
                <span>게시판 이름 :</span>
                <span th:text="${boardName}"></span>
            </div>

            <form action="" th:action="@{~/boards/} + ${boardId} + @{/articles/write}" th:object = "${articleSaveForm}" method="post">
                <input type="hidden" th:value="${boardId}" name = "board_id">

                <div class="item">
                    <span>
                        제목
                    </span>
                    <input type="text" name="title" th:field="*{title}" th:errorclass="field-error">
                    <span th:errors="*{title}"></span>
                </div>

                <div class="item">
                    <span>
                        내용
                    </span>
                    <input type="text" name="body" th:field="*{body}" th:errorclass="field-error">
                    <span th:errors="*{body}"></span>
                </div>

                <div class="item">
                    <button>작성</button>
                    <a href="/">
                        <button type="submit">취소</button>
                    </a>
                </div>


            </form>

        </div>

    </div>
</div>
</body>
</html>