<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
</head>
<header th:fragment="headerFragment">

    <div class="header">

        <nav class="flex mt-6 mx-56 p-3">
            <ul class="flex">
                <a href="/" class="text-2xl">
                    <span>나만의 공간</span>
                </a>
            </ul>

            <ul class="flex ml-auto">
                <li sec:authorize="isAnonymous">
                    <a class="mr-4" th:href="@{~/members/login}">로그인</a>
                    <a th:href="@{~/members/join}">회원가입</a>
                </li>

                <li sec:authorize="isAuthenticated()">
                    <span sec:authentication="principal.username">님</span>
                </li>
            </ul>

        </nav>

    </div>

</header>

</html>