<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">

        <div class="contents">

            <div class="join-title, flex justify-center block pt-20 pb-20 text-gray-700 text-xl font-bold mb-2">
                <h1>회원가입</h1>
            </div>

            <div class="flex justify-center items-center">

                <form action="" th:action="@{~/members/join}" method="post" style="text-align:left" class="bg-white rounded px-8 pt-6 pb-8 mb-4" >

                    <div class="join-item, mb-4">
                        <span class="block text-grey-darker text-sm font-bold mb-2">아이디</span>
                        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker" type="text" name="loginId">
                    </div>

                    <div class="join-item, mb-6">
                        <span class="block text-grey-darker text-sm font-bold mb-2">비밀번호</span>
                        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker" type="password" name="loginPw">
                    </div>

                    <div class="join-item, mb-4">
                        <span class="block text-grey-darker text-sm font-bold mb-2">이름</span>
                        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker" type="text" name="name">
                    </div>

                    <div class="join-item, mb-4">
                        <span class="block text-grey-darker text-sm font-bold mb-2">닉네임</span>
                        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker" type="text" name="nickname">
                    </div>

                    <div class="join-item, mb-8">
                        <span class="block text-grey-darker text-sm font-bold mb-2">이메일</span>
                        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker" type="email" name="email">
                    </div>

                    <div class="join-item, flex items-center justify-between">
                        <button class="bg-blue-500 hover:bg-blue-dark text-white font-bold py-2 px-4 rounded" type="submit">회원가입</button>
                        <a href="/">
                            <button class="bg-blue-500 hover:bg-blue-dark text-white font-bold py-2 px-4 rounded" type="button">취소</button>
                        </a>
                    </div>

                </form>

            </div>

        </div>

    </div>
</div>
</body>
</html>